@page "/"

<h1>Welcome to Easy Rank!</h1>

Have you ever felt indecisive ranking a list of items? Easy Rank will break down the complex action of ranking to simple binary choices that will approximate your true rankings.